*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
    font-family:'Space Grotesk Medium';
}

body{
    background-color: #141414;
    overflow: hidden;
    height: 100vh;
    position: relative;
    width: 100%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    width: 100%;
    
    background-color: #242424;
    height: 60px;

    
}

header .back{
    margin-left: 10px;
    margin-top: 5px;

}
.back img{
    width: 30px;
    height: auto;
}
header h1{
    font-size: 30px;
    font-family: 'Space Grotesk Bold';
    color: #D9D9D9;
    margin-left: 50px;
}

.lives ul{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.lives{
    position: absolute;
    top: 10px;
    right: 10px;

}

.score_container{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #d9d9d9;

}

.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

#word{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-bottom: 40px;
}

.letter{
    height: 200px;
    width: 200px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #141414;
    border: solid #141414;
    border-radius: 25px;
    position: relative;
    perspective: 1000px;
}

.content {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
  }
  

  
  .outer,
  .inner {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .outer{
    background-color: #242424;
    color: #fff;
    display: flex;
    align-items: center;
    border:  solid #242424;
    border-radius: 25px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  }
  
  .inner {
    background-color: #242424;
    color: #d9d9d9;
    display: flex;
    align-items: center;
    border: solid #242424;
    border-radius: 25px;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    
    transform: rotateY(180deg);
  }

  .inner img{

    width: 100px;
    height: 100px;
  }
  



.refresh{
    background-color: #D9D9D9;
    color: #141414;
    border:#D9D9D9 solid;
    border-radius: 5px;
    display: flex;
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    margin-right: 10px;
}

.refresh img{
    width: 20px;
    height: auto;
}

.letter_submit{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    
}
.letter_input input{

    outline: none;
    background-color: transparent;
    border: none;
    color: #D9D9D9;
    border-bottom: 1px solid;
    padding-left: 10px;
    font-size: 1em;
    line-height: 26px;
    padding-bottom: 5px;
    width: 135px;
    text-transform: uppercase;


}

.letter_submit button{
    outline: none;
    color: #242424;
    background-color: #4ce19e;
    padding: 5px 10px;
    border: solid #4ce19e;
    border-radius: 4px;
    cursor: pointer;
}

.letter_submit button span{
    font-family: "Space Grotesk Bold";
    
}

.tried_letters{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: #D9D9D9;

}

.letter_list{
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;


}

.letter_list li span{

    background-color: #242424;
    color: #D9D9D9;
    padding: 10px;
    border: solid transparent;
    border-radius:  5px;
    font-size: 22px;
    width: 25px;
    height: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px,
     rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
}


  

.message{

    background-color: #242424;
    border: solid #242424;
    border-radius: 10px;
    color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    width: 350px;
    height: 250px;
    top: 0px;
    left: 0px;
    flex-direction: column;
    

}

.popup{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;



}

.error{

    border-bottom: 1px solid #cc0000 !important ;
}