*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
    font-family:'Space Grotesk Medium';
}

body{
    background-color: #141414;
    overflow: hidden;
    height: 100vh;
    position: relative;
    width: 100%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    width: 100%;
    
    background-color: #242424;
    height: 60px;

    
}

header .back{
    margin-left: 10px;
    margin-top: 5px;

}
.back img{
    width: 30px;
    height: auto;
}
header h1{
    font-size: 30px;
    font-family: 'Space Grotesk Bold';
    color: #D9D9D9;
}

.lives ul{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.lives{
    position: absolute;
    top: 10px;
    right: 10px;

}

.refresh{

    margin-right: 10px;

}
.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

.word{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.letter{
    height: 200px;
    width: 200px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #242424;
    border: solid #242424;
    border-radius: 25px;
}

.letter span{
    font-size: 100px;
    color: #D9D9D9;
}

.refresh{
    background-color: #1d27b4;
    color: white;
    border:#1d27b4 solid;
    border-radius: 5px;
    display: flex;
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.refresh img{
    width: 20px;
    height: auto;
}

